.leaf {
  position: absolute;
  top: 0;
  left: 5;
  width: 170;
  z-index: 66;
  display: none;
}
.a1 {
  color: #18539A;
  font-weight: bold;
}
.a2 {
  color: #000000;
  font-weight: bold;
}
div {
  font-family: Times New Roman;
  font-size: 10pt;
}

.New {
  background-color: #ffff66;
  color: red;
  font-size: 5pt;
  font-weight: bold;
  margin-left: 2vpx;
  vertical-align:top;
  padding: 1px 3px 1px 3px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
